
.dropbtn{
    background-color: purple;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: blue;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover .dropbtn{
    background-color: aliceblue;
}
header{
    background: url(https://th.bing.com/th/id/R.c5a997a0ee38a8171de78441a258de21?rik=9zoEEyTCUNl7mQ&pid=ImgRaw&r=0)  top center;
  height: 200;
  width: 70;
}
img {
   
    padding-top: 20px;
    padding-left: 110px;
    padding-right: 38px;
    justify-content: end;
    position: fixed;
    transform: translate(20%, 20%);
    animation: myfirst 7.5s infinite linear;
}
@keyframes myfirst{
    to{
        transform: translate(20%,20%) rotate(0deg);
    }
    from{
        transform: translate(20%,20%) rotate(360deg);
    }
}
p {
    color: purple;
    font-size: larger;
    font-family: Arial;
}
h1 {
    color: red;
    font-family: Arial;
}
h2 {
    color: red;
    font-family: Arial;
}
